[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=seriousfrieda
WorkingDirectory=/home/seriousfrieda/sites/STG_FOLDER/source
ExecStart=/home/seriousfrieda/sites/STG_FOLDER/virtualenv/bin/gunicorn --bind unix:/tmp/friedassuperlists-staging.de.soc$

[Install]
WantedBy=multi-user.target